.content-main {
  margin: 0 30px;
}

.action-btn-table {
  display: flex;
  flex-direction: column;
}

td {
  text-transform: capitalize;
}

.butn {
  color: white;
  background: cornflowerblue;
  padding: 10px 40px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-weight: bold;
}
